<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SoundTrack to My Life</title>
        <ul class="list-group">
        {% if message %}
        <div id="message">
             {{ message.greet }}

         </div>
        {% endif %}
      </ul>
	</head>
	<body>
		<script src="src/js/canvas.js">

        </script>

    <script type="text/javascript">
    function reload(){
            var container = document.getElementById("message");
            var content = container.innerHTML;
            container.innerHTML= content;
        }
</script>
<a href="javascript: reload()">Reload</a>

        <script>
    setTimeout(function(){
   window.location.reload(1);
}, 5000);
 </script>
	</body>
</html>