<link rel="stylesheet" type="text/css" href="src/css/footsteps.css" />
  <div class="steps" id ="stepstep"><div class="z">0</div></div>
<div class="steps2" id ="dist"><div class="y">0</div></div>
<div class="steps3" id ="cal"><div class="x">0</div></div>
<div class="page page-home" style="display:block">
  <div class="bg"></div>
  <div class="overlay"></div>

  <div class="panel panel-time" id = "firstpan">
    <div class="span time" id ="TIME"><div class="t">8:00</div></div>
    <div class="span date" id ="DATE"><div class="digit">1 May 2017</div></div>
  </div>
  <div class="panel panel-weather">
    <div class="location">Austin, Texas</div>
    <!--.icon.wi.wi-day-sunny-overcast--><img src="http://ultraimg.com/images/KlfpUAu.png"/>
    <div class="span temp">76<span class="degree">&deg;F</span></div>
    <div class="span text">Sunny</div>
  </div>
  <div class="panel panel-calendar">
    <ul>
      <li>
        <div class="time">8:00 - 9:00</div>
        <div class="title">Shopping</div>
      </li>
      <li>
        <div class="time">10:00 - 12:00</div>
        <div class="title">Meet Stefan</div>
      </li>
      <li>
        <div class="time">18:00 - 20:00</div>
        <div class="title">Go to cinema</div>
      </li>
    </ul>
  </div>
  <div class="panel panel-tasks" id ="secondpan">
    <ul id ="bullet">
      <li id = "listone">
        <div class="check"></div>
        <div class="title" id ="title1"> {% if message %}
        <div class="message1">
             Step Count: {{ message[0] }}

         </div>
        {% endif %}
        </div>
</li>
      <li id = "listtwo">
        <div class="check"></div>
        <div class="title" id = "title2">{% if message %}
        <div class="message2">
             Distance Traveled: {{ message[1] }}

         </div>
        {% endif %}</div>
      </li>
      <li id = "listthree">
        <div class="check"></div>
        <div class="title" id = "title3">{% if message %}
        <div class="message3">
             Calories Burned: {{ message[2] }}

         </div>
        {% endif %}</div>
      </li>

    </ul>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="src/js/animate.js">

 </script>

   <script>
   function updateClock(id,newValue)
{
    $(id).toggleClass('halfRotation').text(newValue);
}

setInterval( function() {
   $.get("", function(response) {
    //response = parseInt(response);
    data = response.split('<')[0];
    console.log(data)
    distval = parseFloat(((data) * 2)/5280).toFixed(2);
    calval = parseFloat(((data) / 2)*1.25).toFixed(2);

    stepcount = "Step Count: " + data;
    var distcount = "Distance Traveled: " + String(distval) + " mi"
    var calcount = "Calories Burned: " + String(calval);

    var targetdiv = document.querySelectorAll('#title .message1');
    targetdiv.innerHTML = stepcount
    updateClock('#stepstep .z',stepcount);
    updateClock('#dist .y',distcount);
    updateClock('#cal .x',calcount);
    updateClock('#cal .x',calcount);
    updateClock('li#listone div#title1 .message1',stepcount);
  updateClock('li#listtwo div#title2 .message2',distcount);
  updateClock('li#listthree div#title3 .message3',calcount);
    console.log(targetdiv);
    //console.log(document.getElementById(message1));
    //document.getElementById(message1).innerHTML = stepcount
});

 }, 50000);
</script>



  </div>


</div>
